
:root {
  --primary: ##777;
  --secondary: #ccc;
  --themeColor:#0400ff;
  --font-size:1.2rem;
}

.cardsBg{
  background-color: var(--secondary);
}
header {
  padding: 20px;
}
.logo{
  float:left;
}
.logo svg{
  width: 30px;
    height: 30px;
}
.margin-left-auto{
  margin-left:auto;
}
.links{
  float:right;
}
.links ul li{
  float:left;
  padding-left:10px;
  list-style-type: none;
}
.card{
  float:left;
}
.card i{
  text-align: center;
  display: block;
  margin:10px 0px;
}
.card-container{
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap:15px;
  margin-bottom: 60px;
}
footer{
  position:fixed;
  bottom:0;
  left:0;
  background-color:  var(--secondary);
  width: 100%;
  padding:10px;
}
.social-media-content{
  float: left;
}
.social-media-content svg{
  margin-right: 10px;
  color: var(--themeColor);
}
@media only screen and (max-width: 768px) {
  .card-container{
          flex-direction: column;
  }
}